
.spinner-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.75);
  z-index: 999999;

  .spinner-container {
    position: absolute;
    height: 10rem;
    width: 10rem;
    left: 41.2%;
    top: 36%;
    transform: translate(-50%,-50%);
  }

  .spinner-inner {
    position: absolute;
    left: 17.5%;
    top: 17.5%;
    height: 65%;
    width: 65%;
    border: 5px solid #ccc;
    background: rgba(255,255,255,0.2);
    border-radius: 50%;
    opacity: 0;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
  }

  .spinner-outer {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    font-size: 10px;
    text-indent: -9999em;
    margin-left: 0;
    border: 5px solid rgba(255, 255, 255, 0.2);
    border-left: 5px solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
  }

  .spinner-message {
    color: #fff;
    font-size:1.2vw;
    position: absolute;
    top: 61%;
    left: 51%;
    transform: translate(-50%,-59%);
    width: 100%;
    text-align: center;
    text-shadow: 10px 10px 15px #192a56;
  }
}
@media(max-width:576px) {
  .spinner-backdrop {
    .spinner-container {
      height: 50px;
      width: 50px;
    }
  }
}
@keyframes pulsate {
  0% {
    transform: scale(.1);
    opacity: 0.0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
