<div *ngIf="tableData.metaData.search" style="border-bottom:3px solid #ddf3fc; padding-bottom: 0.6125rem;">
	<img style="padding-left:2.1875rem; margin-right: 0.9375rem;" src="../../../../assets/images/Serach.svg">
    <mat-form-field appearance="none" style="width: 80%;">
		
        <mat-chip-list #chipList aria-label=" selection ">
            <mat-chip color="primary" selected="true" *ngFor="let value of values"  [removable]=true (removed)="remove(value) ">
                {{value}}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input style="width:100%; font-family: Roboto-Light;font-size: 0.8333vw;"  placeholder="{{tableData.metaData.placeholder}}" (keyup)="applyFilter($event.target.value) " [matChipInputFor]="chipList " [matChipInputSeparatorKeyCodes]="separatorKeysCodes " (matChipInputTokenEnd)="add($event)"
            />
        </mat-chip-list>
	</mat-form-field>
	<span style="font-family:'Roboto-Light'; font-size: 0.8rem;color: rgba(0,0,0,0.6);">Total Items: {{dataSource.filteredData.length}}</span>
</div>
<mat-grid-list *ngIf="selectedCount != 0" class="selected-manager" cols="3" rowHeight="8:1">
	<mat-grid-tile colspan="2" rowspan="1" style="justify-content: flex-start !important; margin-left: 2rem;">
		<span style="color: rgba(112,112,126,1); font-family: Roboto-Medium !important;">Selected {{tableData.metaData.itemName}} ({{selectedCount}})</span>
	</mat-grid-tile>
	<mat-grid-tile>
		<button (click)="selection.clear();selectedCount=0" mat-button style="color: #004faa; outline: none;"><span style="font-family: Roboto-Light !important">CANCEL</span></button>
		<button (click)="emitFunction()" mat-button style="color: #004faa; outline: none;"><span style="font-family: Roboto-Medium !important">{{tableData.metaData.managerFunction}}</span></button>
	</mat-grid-tile>
</mat-grid-list>
<div class="table-container">
<table mat-table [dataSource]="dataSource" matSort>
	<ng-container matColumnDef="select">
		<th mat-header-cell *matHeaderCellDef>
		  <mat-checkbox (change)="$event ? masterToggle() : null;emitAllSelected()"
						[checked]="selection.hasValue() && isAllSelected()"
						[indeterminate]="selection.hasValue() && !isAllSelected()"
						[aria-label]="checkboxLabel()">
		  </mat-checkbox>
		</th>
		<td mat-cell *matCellDef="let row">
		  <mat-checkbox (click)="$event.stopPropagation()"
						(change)="$event ? selection.toggle(row) : null;emitSelected(row)"
						[checked]="selection.isSelected(row)"
						[aria-label]="checkboxLabel(row)">
		  </mat-checkbox>
		</td>
	  </ng-container>
		<div *ngFor="let i of tableData.metaData.column_names | slice:1;let index=index">

		<ng-container matColumnDef="{{i}}">

				<div *ngIf="i=='edit'; else dataPart">
					<th mat-header-cell *matHeaderCellDef >

					</th>
					<td style="padding-right: 14px;" mat-cell *matCellDef="let element;let rowData=$implicit;" class="edit" align="end" (click)="fetchRowNumberEdit(rowData)"><button style="outline: none;" mat-button>EDIT</button></td>
				</div>

				<ng-template #dataPart>
					<th mat-header-cell mat-sort-header *matHeaderCellDef >
						{{tableData.metaData.display_names[i]}}
					</th>
					<td (click)="fetchRowNumberView(rowData)" [ngStyle]="{'cursor':tableData.metaData.view ? 'pointer' : 'auto' }" [ngClass]="{'first-column': index==0}" mat-cell *matCellDef="let element;let rowData=$implicit;">{{element[i]}}</td>
				</ng-template>
				
		</ng-container>

	</div>

	<tr mat-header-row *matHeaderRowDef=" tableData.metaData.column_names;sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: tableData.metaData.column_names;"></tr>
</table>
</div>