.table-container {
  height: 24rem;
  overflow: auto;
  padding-left:2rem;
  padding-right: 1rem;
  margin-right:1.875rem;
  margin-top: 0.625rem;
}
table {
  width: 100%;
 
}

.selected-manager{
  background-color: #ddf3fc;
}

:host ::ng-deep .mat-grid-tile:nth-child(1) .mat-figure {
  justify-content: flex-start; 
}

:host ::ng-deep .mat-grid-tile:nth-child(2) .mat-figure {
  margin-right: 2rem;
  justify-content: flex-end; 
}

tr.mat-header-row {
  height: 8px !important;
  font-weight: bold;
}
th{
  height: 3.125rem;
  font-family: Roboto-Medium !important;
  font-size:1.1vw;
  color: rgba(150,150,150,0.9);
  border-bottom: none !important;
}
td{
  height: 8px !important;
  cursor: pointer;
  border-bottom:1px dashed #e0e0e0!important;
  font-size: 0.937vw;
  color: rgba(0,0,0,.6);
}

.edit{
  font-size: 0.937;
  font-weight: 500;
  color: #004faa;
}


:host ::ng-deep .mat-standard-chip{
  min-height: 26px !important;
}

.table-container::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.table-container::-webkit-scrollbar-track {
  background: #fff; 
}
 
/* Handle */
.table-container::-webkit-scrollbar-thumb {
  background: #ddd; 
  border-radius: 500px;
  visibility: hidden;
}

// /* Handle on hover */
.table-container::-webkit-scrollbar-thumb:hover {
  background: #ddd; 
  visibility: visible;
}


.first-column{
  margin-left: 2rem;
  color: #004faa;
  font-family: Roboto-Medium !important;
}

:host ::ng-deep .mat-form-field-wrapper{
  padding-bottom: 0 !important;
}

:host ::ng-deep .mat-checkbox .mat-checkbox-frame {
  background:none;
  border:1px solid #8E8E8E;
}

:host  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background:none;
  border:1px solid #004FAA;
  color: #004FAA; 
}
:host  ::ng-deep .mat-checkbox-checkmark-path {
  stroke: #004FAA!important;
}

:host  ::ng-deep .mat-ripple-element {
  background: #004FAA !important;
}

// :host :ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
//   background-color:none !important;
//   border:none !important;
// }

:host ::ng-deep .mat-checkbox-mixedmark{
  background-color: white;
}

.table-container::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.table-container::-webkit-scrollbar-track {
  background: #fff; 
}
 
/* Handle */
.table-container::-webkit-scrollbar-thumb {
  background: #ddd; 
  border-radius: 500px;
  visibility: hidden;
}

// /* Handle on hover */
.table-container::-webkit-scrollbar-thumb:hover {
  background: #ddd; 
  visibility: visible;
}