:host button{
    padding: 0.4375rem 0.75rem;
    background: #EC8026;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16);
    border-radius: 4px;
    font-family: Roboto-Medium !important;
    font-size: 1.11vw;
    color: #FFFFFF;
    line-height: 22px;
    outline: none;
    margin: 0.625rem 0.625rem;
}

.btn-txt{
    font-family: Roboto-Medium !important;
    font-size: 1rem;
}