.group-header{
    font-family: Roboto-Bold !important;
    font-size: 0.97vw;
    color: #545454;
    margin-left: 2.3125rem;
    margin-top: 3vh;
}

.group-card{
    margin: 1.25rem 1.6875rem;
    min-height: 27.8rem;
    // max-height: 27.8rem;
}

.sidenav-width{
    width: 71.125rem;
}

.bgc{
  background-color: #ffffff;
  margin: 0;
}
