.toolbar{
    background-color: #004faa;
    box-shadow: 0 2px 9px rgba(0, 0, 0, .16);

    height: 3.125rem;
}

.trust-heading{
    font-family: Roboto-Bold;
    font-size:1rem;
    color: #fff;
    margin-top: 0.625rem;
}

.icons
{
    padding:0.625rem 0;
    color: #fff;
    margin:0;
}

:host .row{
    margin: 0;
    padding:0 2.1vw;    
}

.action-icon{
    margin-left: 2vw;
    font-size:2vw;
    cursor: pointer;
}

img{
    width: 2.125rem;
    height: 2rem;
    padding:0.8vh 0.7vw 0 0;
}

.dropdown-menu{
    top: 3rem;
    left: 84%;
    cursor: pointer;
    z-index: 1000;
}

:host .dropbtn {
    cursor: pointer;
}
  
:host .dropdown {
    position: relative;
    display: inline-block;
}
  
:host .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}
  
:host .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    cursor: pointer;
}
  
:host .dropdown-content a:hover {background-color: #f1f1f1;}
:host .dropdown:hover .dropdown-content {display: block;}

:host .dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}