<div *ngIf="tableData.metaData.search" style="border-bottom:3px solid #f3f8fb; padding-bottom: 0.6125rem;">
	<img style="padding-left:2.1875rem; margin-right: 0.9375rem;" src="../../../../assets/images/Serach.svg">
    <mat-form-field appearance="none" style="width: 80%;">
		
        <mat-chip-list #chipList aria-label=" selection ">
            <mat-chip color="primary" selected="true" *ngFor="let value of values " [removable]=true (removed)="remove(value) ">
                {{value}}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input style="width:100%; font-family: Roboto-Light;font-size: 0.8333vw;"  placeholder="{{tableData.metaData.placeholder}}" (keyup)="applyFilter($event.target.value) " [matChipInputFor]="chipList " [matChipInputSeparatorKeyCodes]="separatorKeysCodes "  (matChipInputTokenEnd)="add($event)"
            />
        </mat-chip-list>
    </mat-form-field>
    <span style="font-family:'Roboto-Light'; font-size: 0.8rem;color: rgba(0,0,0,0.6);">Total Items: {{dataSource.filteredData.length}}</span>
</div>
<div class="table-container">
<table mat-table [dataSource]="dataSource" matSort>

		<div *ngFor="let i of tableData.metaData.column_names; let index=index">

		<ng-container matColumnDef="{{i}}">

				<div *ngIf="i=='edit'; else dataPart">
					<th mat-header-cell *matHeaderCellDef >

					</th>
					<td style="padding-right: 14px;" mat-cell *matCellDef="let element;let rowData=$implicit;" class="edit" align="end" (click)="fetchRowNumberEdit(rowData)"><button style="outline: none;" mat-button>EDIT</button></td>
				</div>

				<ng-template #dataPart>
                    <div *ngIf="badgeCol != index; else badgePart">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef >
                            {{tableData.metaData.display_names[i]}}
                        </th>
                        <td (click)="fetchRowNumberView(rowData)" [ngStyle]="{'cursor':tableData.metaData.view ? 'pointer' : 'auto' }" [ngClass]="{'first-column': index==0}" mat-cell *matCellDef="let element;let rowData=$implicit;">{{element[i]}}</td>
                    </div>
                    <ng-template #badgePart>
                        <th mat-header-cell *matHeaderCellDef >
                            {{tableData.metaData.display_names[i]}}
                        </th>
                        <td (click)="fetchRowNumberView(rowData)" [ngStyle]="{'cursor':tableData.metaData.view ? 'pointer' : 'auto' }" [ngClass]="{'first-column': index==0}" mat-cell *matCellDef="let element;let rowData=$implicit;let idx= index"><ct-badges-1 [badges]="element[i]" [disabled]='tableData.metaData.disableBadges' (selected)="select($event,idx)" [allSelected]="tableData.metaData.allSelected"></ct-badges-1></td>
                    </ng-template>
                </ng-template>
				
		</ng-container>

	</div>

	<tr mat-header-row *matHeaderRowDef=" tableData.metaData.column_names;sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: tableData.metaData.column_names;"></tr>
</table>
</div>