img{
    height: 1.5625rem;
}


.tile-unselected{
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.name{
    margin-top: 0.625rem;
    font-size: 0.75rem;
    font-weight: 100;
}

