.main-div{
    width: 12.8125rem;
}

.header{
    font-family: Roboto-Medium !important;
    font-size: 1.23rem;
    color: rgba(150, 150, 150, 0.9);
    padding-left: 1.5rem;
    margin-bottom: 1.25rem;
}

.item-selected{
    font-family: Roboto-Medium !important;
    cursor: pointer;
    font-size: 1rem;
    color: #004faa;
}

.item-unselected{
    font-family: Roboto-Light !important;
    cursor: pointer;
    font-size: 1rem;
    color: #004faa;
}


.name-container{
    margin-bottom: 1.25rem;
}