.main-div{
    margin-top: 4.125rem;
    height: 17.975rem;
    padding-top: 1.5rem;
    width: 12.8125rem;
    // height: 18rem;
    border-left: 2px solid rgba(0, 0, 0, 0.05);
    overflow-y: scroll;
}

.item-selected{
    font-family: Roboto-Medium !important;
    cursor: pointer;
    font-size: 1rem;
    color: #004faa;
}

.item-unselected{
    font-family: Roboto-Light !important;
    cursor: pointer;
    font-size: 1rem;
    color: #004faa;
}


.name-container{
    margin-bottom: 1.25rem;
}

.main-div::-webkit-scrollbar {
    width: 14px;
}
  
/* Track */
.main-div::-webkit-scrollbar-track {
background: #fff; 
}

/* Handle */
.main-div::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 20px;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

// /* Handle on hover */
.main-div::-webkit-scrollbar-thumb:hover {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 20px;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}