:host button{
    margin-top: 0.5rem;
    background:transparent;
    font-family: Roboto-Medium !important;
    text-align: center;
    outline: none;
}

.btn-txt{
    margin:0 0.5rem;
    color: #004FAA;
    font-family: Roboto-Medium !important;
    font-size: 0.875rem;
}